/* Global */
body {
    font-family: sans-serif;
    animation: fadeInAnimation ease 3s
    animation-iteration-count: 1;
    animation-fill-mode: forwards;P
}

header {
    min-width: 800px;
}

img#logo {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 146px;
}

img#logo:hover {
    cursor: pointer;
}

img#signature {
    display: block;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
}

/* Navigation */
/* Nav tree */
#navtree > span:not(.navtree-current) {
    cursor: pointer;
}

#navtree > span:hover:not(.navtree-current) {
    font-weight: bold;
}

#navtree > span {
    font-size: 14pt;
}

#navtree-root {
    font-variant: small-caps;
}

#navtree-category {
    font-variant: small-caps;
}

#navtree-category::before {
    content: ">";
    font-weight: normal;
}

#navtree-subcategory::before {
    content: ">";
    font-weight: normal;
}

#navtree-work::before {
    content: ">";
    font-weight: normal;
}

/* Nav table */
.navtable {
    display: table;
    min-width: 800px;
    border-spacing: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
}

.navtable > div[data-navtable-rowindex] {
    display: table-row;
}

.navtable > div[data-navtable-rowindex] > div[data-navtable-colindex] {
    display: table-cell;
}

.navtable > div[data-navtable-rowindex] > div[data-navtable-colindex][data-navtable-key] {
    cursor: pointer;
}

.navtable .navtable-cell-title {
    margin-top: 10px;
    text-align: center;
}

.navtable .navtable-cell-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 146px;
}

/* Horizontal menu */
nav {
    margin-top: 86px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 0;
    padding: 0;
    display: table;
    width: 100%;
}

nav li {
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
    width: 120px;
    height: 72px;
    margin: 0;
    padding: 10px 15px 10px 15px;
    font-size: 13pt;
    font-variant: small-caps;
    border: 1px solid black;
    border-right: 0px;
    background-color: black;
    color: white;
}

nav li.selected {
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    color: black;
}

nav li:hover:not(.selected) {
    font-weight: bold;
    cursor: pointer;
}

/* Work view  */
/*TODO: Add max dimensions*/
#model-fullsize {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#model-title {
    margin-top: 15px;
    text-align: center;
}

/* Content */
#content {
    margin: 30px auto 0px auto;
}

/* News */
#news {
    display: block;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.news-infobar {
    font-style: italic;
    padding: 12px;
}

.news-item {
    border: 1px solid #5d5d5d;
    margin: 8px 0px 16px 0px;
}

.news-content {
    padding: 8px;
}
